.wrapperContent {
    width: 70vw;
    height: 100%;
    
    
}
.leftLink{
    display: flex;

}
.arrowVertical {
    &:hover{
        cursor: pointer;
    }
}
.arrowVerticalOpen {
    @extend .arrowVertical;
    rotate: 180deg;
}

.linkBlock {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 0 10px 0;
}
.listWrapper {
    position: absolute;
}
.headerContent {
    display: flex;
    background-color: #241b2f;
    margin-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    padding: 5px;
    color: #a7a4a4;
}
.closeContent {
    cursor: pointer;
    margin-right: 5px;
}

.nameContent {
    margin-left: 2%;
}

.textContent {
    width: 90%;
    height: 80%;
    background-color: #6c5f7d;
    border: none;
    resize: none;
    color: #a7a4a4;
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    &:focus {
        border: none;
        outline: none;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: #40384a;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #241b2f;
    }
}
