.App {
  text-align: center;
  background-color: #262335;
  min-height: 100vh;
  display: flex;

}

.Block {
  height: 50px;
  width: 150px;
  background-color: #D7CB52;
  border-radius: 30px;
  
}
.Block:hover{
  cursor: pointer;
}