.App {
  text-align: center;
  background-color: #262335;
  min-height: 100vh;
  display: flex;

}
@media only screen and (min-width : 320px) and (max-width : 480px)  {
  .MenuOpen{
    height: 100vh;
    background-color: #241B2F;
    min-width: 95vw;
    z-index: 10001;
  }
}
.closeButton{
  margin-left: auto;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 5vmin;
  cursor: pointer;
}
.openButton{
  margin-left: auto;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 5vmin;
  cursor: pointer;
  rotate: 180deg;
}
.MenuOpen{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  background-color: #241B2F;
  width: 15vw;
  z-index: 10001;

}
.MenuClose{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  background-color: #241B2F;
  width: 2vw;
  z-index: 10001;

}

.Block {
  height: 50px;
  width: 150px;
  background-color: #D7CB52;
  border-radius: 30px;
  
}
.Block:hover{
  cursor: pointer;
}