.App {
  text-align: center;
  background-color: #262335;
  min-height: 100vh;
  display: flex;
}

.Block {
  margin: 2vw 0 0 2vw;
  background-color: #40384a;
  max-height: 95vh;
}
svg.custom .node circle {
  fill: #f3f3ff;
  stroke: #f97e72;
  stroke-width: 1.5px;
}
svg.custom .node text {
  font-size: 11px;
  background-color: #444;
  fill: #f4f4f4;
  text-shadow: 0 1px 4px black;
}

svg.custom .node {
  cursor: pointer;
}

svg.custom path.link {
  fill: none;
  stroke: #f97e72;
  stroke-width: 1.5px;
}
