@media only screen and (min-width: 320px) and (max-width: 480px) {
  .MenuOpen {
    height: 100vh;
    background-color: #241b2f;
    min-width: 95vw;
    z-index: 10001;
  }
}
.OpenCloseButton {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  margin-left: auto;
  background: none;
  border: none;
  color: aliceblue;
  font-size: 5vmin;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
}
.closeButton {
  @extend .OpenCloseButton;
  rotate: 180deg;
}
.openButton {
  @extend .OpenCloseButton;
}
.Menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-color: #241b2f;
  z-index: 10001;
  transition: 0.6s;
  flex-direction: column;
}
@keyframes slide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes coloring {
  0% {
    background-color: rgba($color: #f97e72, $alpha: 1);
  }
  100% {
    background-color: rgba($color: #f97e72, $alpha: 0);
  }
}
.MenuOpen {
  @extend .Menu;
  width: 15vw;
  .navigateBlock {
    animation: slide 1s ease-in reverse;
  }
}
.MenuClose {
  @extend .Menu;
  width: 2vw;
  .textBlock {
    display: none;
    animation: slide 0.3s ease-in;
  }
  .navigateBlock {
    display: none;
    animation: slide 0.3s ease-in;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  .elementWrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .element {
    width: 80%;
    &:hover {
      cursor: pointer;
      animation: coloring 0.5s ease-in reverse forwards;
    }
    color: #a7a4a4;
    border: 1px solid;
    border-color: #f97e72;

    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 5px;
    animation: slide 0.3s ease-in reverse;
  }
  .close{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    &:hover{
      background-color: #35303d;
    }
  }

  input {
    &:focus {
      border: none;
      outline:none;
    }
    padding: 4px;
    margin-left: 10%;
    margin-bottom: 5px;
    border: 0;
    background-color: #40384A;
    color: #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }
}
.navigateBlockWrapper {
  display: flex;
  width: 95%;
  align-items: center;
}
.navigateBlock {
  @extend .navigateBlockWrapper;
  justify-content: flex-start;
  div {
    margin-left: 2%;
    &:hover {
      background-color: #35303d;
    }

    padding: 5px;
    border-radius: 5px;

    cursor: pointer;
  }
  margin-left: 5%;
}
