@media only screen and (min-width : 320px) and (max-width : 480px)  {
    .MenuOpen{
      height: 100vh;
      background-color: #241B2F;
      min-width: 95vw;
      z-index: 10001;
    }
  }
  .OpenCloseButton{
     -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
                                    margin-left: auto;
                                    background: none;
                                    border: none;
                                    color: aliceblue;
                                    font-size: 5vmin;
                                    cursor: pointer;
  }
  .closeButton{
    @extend .OpenCloseButton;
  }
  .openButton{
    @extend .OpenCloseButton;
    rotate: 180deg;
  }
  .Menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    background-color: #241B2F;
    z-index: 10001;
    transition: 0.6s;
    flex-direction: column;
  }
  @keyframes slide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  
  @keyframes coloring {
    0% {
      background-color: rgba($color: #F97E72, $alpha: 1.0);
    }
    100% {
      background-color: rgba($color: #F97E72, $alpha: 0.0);
    }
  }
  .MenuOpen{
    @extend .Menu;
    width: 15vw;
    .navigateBlock{
      
      animation: slide 1s ease-in reverse;
    }
  }
  .MenuClose{
    @extend .Menu;
    width: 2vw;
    .textBlock{
      display: none;
      animation: slide 0.3s ease-in ;
    }
    .navigateBlock{
      display: none;
      animation: slide 0.3s ease-in ;
    }
  }

  .textBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
      div{
        &:hover{
          cursor: pointer;
          animation: coloring 0.5s ease-in reverse forwards;
        }
        color:#A7A4A4;
        border: 1px solid;
      border-color:  #F97E72;
     
      border-radius: 10px;
      margin-left: 10%;
      margin-bottom: 5px;
      animation: slide 0.3s ease-in reverse;
      }
      
    
    
  }
  .navigateBlockWrapper{
    display: flex;
    width: 95%;
    align-items: center;
  }
  .navigateBlock{
    @extend .navigateBlockWrapper;
    justify-content: flex-start;
    div{
      margin-left: 5%;
      svg{
        cursor: pointer;
       
      }
    }
    margin-left: 5%;
  }